<h1>New User for 99cats!</h1>

<form action="<%= users_url %>" method="POST">
  <input type="text" name="user[user_name]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit">
</form>
